body {
	background: #eee;
	font: 14px/30px Microsoft YaHei;
}

.hth-wrap {
	width: 1280px;
	margin: 0 auto;
	min-height: 300px;
}

.hth-title {
	width: 1280px;
	margin: 20px 0 40px;
	height: 27px;
	line-height: 27px;
	color: #3a3f4a;
	font-size: 14px;
}

.titleTxt .index-link {
	font-size: 14px;
	line-height: 26px;
	color: #828282;
	margin-right: -8px;
}

.hth-goodsmsg {
	width: 1280px;
	min-height: 200px;
	background: #fff;
}

.hth-goodswrap {
	padding-top: 25px;
}

.hth-goodsmsg .goodsbox {
	width: 1280px;
	position: relative;
	height: 565px;
}

.hth-showimg {
	margin: 0 50px 0 40px;
	position: relative;
	border: 1px solid #eee;
	width: 460px;
	height: 440px;
	overflow: hidden;

}

/* 限定 */
.hth-showimg .goodsnew {
	position: absolute;
	top: -1px;
	right: 20px;
	z-index: 10;
	padding: 0 10px 7px;
	width: 28px;
	height: 40px;
	text-align: center;
	display: table;
	font-weight: bold;
	background: url(../images/hth-goodslist/sprite3.png) no-repeat;
	background-position: -279px -85px;
	font-size: 14px;
	color: #333;
}

.hth-showimg .goodsmask {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 14px;


}

/*  */
.hthplacepic {
	position: absolute;
	display: none;
	z-index: 99;
	left: 0;
	top: 0;
}

.hth-showimg .picshow {
	width: 460px;
	height: 440px;
	cursor: pointer;
}

/*picdetails-list  */
.picdetails-list {
	width: 540px;
	height: 100px;
	/* background: #008000; */
	position: absolute;
	bottom: 0px;
	left: 40px;

}

.picdetails-list ul li {
	float: left;
	margin-right: 10px;
	border: 1px solid #f2f2f2;
	width: 78px;
	height: 74px;
	cursor: pointer;
	overflow: hidden;

}

.picdetails-list ul li:hover {
	border: 1px solid #f69;
}

.picdetails-list ul .active {
	border: 1px solid #f69;
}

.picdetails-list ul li a {
	width: 74px;
	height: 70px;
	border: 2px solid #fff;
	overflow: hidden;
}

.picdetails-list ul li img {
	width: 74px;
	height: 70px;
	display: block;
}


/* // */
/* 详情信息 */
.hth-goodsdetails {
	width: 720px;
	height: 530px;
	box-sizing: border-box;
	padding-left: 15px;
}

.hth-goodsdetails .pord-name {
	line-height: 36px;
	font-size: 28px;
}

.hth-goodsdetails .pord-tips {
	padding: 22px 0;
	width: 100%;
	font-size: 14px;
	color: #aaa;
	line-height: 35px;
}

.hth-goodsdetails .pro-pic {
	padding: 5px 0 15px;
	/* padding-righ: 10px; */
	width: 100%;
	/* margin-top: 10px; */
}

.hth-goodsdetails .pro-fuhao {
	color: #f74f4a;
	font-size: 30px;
	line-height: 31px;
	font-weight: bold;
	float: left;
}

.hth-goodsdetails .pro-pic strong {
	color: #f74f4a;
	font-size: 39px;
}

.pro-pic .pro-oldpic {
	padding-left: 5px;
	font-size: 16px;
	line-height: 38px;
	text-decoration: line-through;
	color: #999;
	/* float: left; */
}

.hth-goodsdetails .pro-msg {
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px dashed #eee;
	border-top: 1px dashed #eee;
	font-size: 14px;
	color: #3a3f4a;

}

.hth-goodsdetails .pro-sold {
	width: 310px;
	color: #999;
}

.hth-goodsdetails .pro-sold span {
	color: #333;
}

.hth-goodsdetails .pro-cout {
	color: #999;
}

.hth-goodsdetails .pro-cout span {
	color: #333;
}

.hth-goodsdetails .pro-stars {
	margin-right: 30px;
	color: #ffd92c;
	font-size: 20px;
}

/* 星星 */
.hth-goodsdetails .stars-show {
	margin: -4px 6px 0 0;
	display: inline-block;
	vertical-align: middle;
	width: 111px;
	height: 18px;
	background: url(../images/hth-goodslist/sprite1.png) no-repeat;
	background-position: 0 -104px;
	overflow: hidden;
}

/* 颜色 */
.hth-goodsdetails .pro-coldetail {
	width: 720px;
}

.hth-goodsdetails .pro-colstyle {
	width: 720px;

}

.pro-colstyle label {
	color: #888;
	padding-top: 5px;
	float: left;
}

.pro-colstyle ul {
	width: 600px;
	margin-left: 28px;
	float: left;
}

.pro-colstyle ul li {
	float: left;
	margin: 4px 0 10px 9px;
	border: 2px solid #f74a4a;
	color: #333;
	text-align: center;
	line-height: 14px;
	cursor: pointer;
	padding: 7px 17px;
	/* background-color: #f74a4a; */
}

.pro-coldetail .pro-color {
	/* border: 2px solid #fff; */
}

/* 加入购物车弹窗 */
.alerttip {
	width: 558px;
	min-height: 298px;
	height: auto;
	overflow: hidden;
	position: absolute;
	background: #fff;
	border: 1px solid #F69;
	font-size: 14px;
	display: none;
	padding: 20px;
	box-sizing: border-box;
	z-index: 999;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -280px;
}
.alertshow{
	display: block;
	
	
}
.alerttip .close {
	width: 40px;
	height: 32px;
	line-height: 32px;
	background: #f74a4a;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	vartical-align: middle;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

.alerttip .alert-tips {
	color: #333;
	font-size: 24px;
	line-height: 40px;
	border-bottom: 1px dashed #666;

}

.alert-cont .cont-title {
	line-height: 90px;
	color: #333;
	font-size: 24px;
	font-weight: bold;
	color: #f74a4a;
	text-align: center;
	position: relative;
	margin-left: 40px;
	padding-left: 20px;
}

.alert-cont .icon-title {
	display: inline-block;
	height: 56px;
	width: 56px;
	background: url(../images/hth-goodslist/sprite2.png) no-repeat;
	background-position: -196px -183px;
	/* padding-bottom: 20px; */
	position: absolute;
	top: 20px;
	left: 50px;


}
.btnwrap{
	margin-left: 48px;
	
}
.btnwrap div {
	width: 180px;
	height: 50px;
	line-height:50px ;
	font-size: 16px;
	text-align: center;
	background: #f74a4a;
	color: #fff;
	margin: 20px;
	border: 1px solid #f74a4a;
	cursor: pointer;
}
.btnwrap .bgwhite {
	background: #fff;
	color: #f74a4a;
}
/* 加入购物车模块 */


.kucun .addcount {
	margin-left: 40px;
}

.kucun .count-pull {
	width: 24px;
	height: 24px;
	display: inline-block;
	/* text-indent: -9999em; */
	border: 1px solid #ddd;
	text-align: center;

}

.kucun .count-pull i {
	font-size: 20px;
}

.kucun .count-push {
	width: 24px;
	height: 24px;
	display: inline-block;
	/* text-indent: -9999em; */
	border: 1px solid #ddd;
	text-align: center;

}

.kucun .goods-much {
	font-size: 14px;
	color: #5e6360;
	padding-left: 10px;
	line-height: 34px;
}

.addcar {
	margin-top: 25px;
}

.addcar .btn-add {
	width: 200px;
	height: 56px;
	text-align: center;
	line-height: 56px;
	color: white;
	/* padding: 15px; */
	background: #f05335;
	font-size: 20px;


	margin-right: 25px;
}

.addcar .btn-faver {
	display: block;
	width: 84px;
	height: 28px;
	line-height: 28px;
	border: 2px solid #ddd;
	border-radius: 30px;
	font-size: 14px;
	padding: 5px;
	color: #888;
	position: relative;
	text-indent: 33px;
	margin-top: 5px;
	/* text-align: center; */

}

/* 效果 */


.addcar .icon-sc {
	position: absolute;
	top: 7px;
	left: 20px;
	z-index: 2;
	width: 16px;
	height: 19px;
	background: url(../images/hth-goodslist/sprite1.png) no-repeat;
	background-position: -107px 3px;
}

.addcar .likemove {
	background-position: -127px 3px;
}

/* 			<!-- 商品信息展示区 --> */
.hth-productdetail {
	margin-top: 20px;
	width: 1280px;
	height: auto;
	background: #fff;
	line-height: 30px;
}

.hth-productdetail .pord-tab {
	margin: 0 auto 20px;
	width: 1220px;
	border-bottom: 1px solid #eee;
	height: 71px;

}

.hth-productdetail .pord-tab ul {
	margin: 0 auto;
	width: 705px;
}

.hth-productdetail .curtab {
	float: left;
	/* height: 23px; */
	width: 235px;
	line-height: 71px;
	font-size: 18px;
	color: #333;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.hth-productdetail .curtab .i-tabline {
	display: block;
	background: #ec4828;
	width: 40px;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	display: none;
	/* 显示隐藏 */
}

.hth-productdetail .curtab .tabline-show {
	display: block;
}


.hth-productdetail .tabcont {
	width: 100%;
	background: #fff;
	/* min-height: 200px; */
	overflow: hidden;

}

.hth-productdetail .tabcont-msg {
	width: 100%;

}

.hth-productdetail .tabmsg {
	font-size: 14px;
	color: #777;
	margin-left: 44px;
	/* height: ; */
	overflow: hidden;
	/* height: auto; */
	line-height: 20px;
	margin-bottom: 25px;
	border-bottom: 1px solid #fff;

}

.hth-productdetail .tabmsg ul {
	width: 100%;
}

.hth-productdetail .tabmsg ul li {
	width: 300px;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 28px;
	color: #777;
	float: left;
}

.tabcont .detailbox {
	height: auto;
	text-align: left;
	padding-bottom: 100px;
	margin-top: 40px;
	border-top: 1px solid #fff;
}

.tabcont .detailbox img {
	width: auto;
	height: auto;
	margin: 0 auto;
	display: block;
}

/* 用户点评部分 */

.customerwrap,
.customer {
	width: 1280px;
}

.customerwrap .cus_stars {
	margin: 35px auto 18px;
	width: 336px;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	color: #333;
}

.customerwrap span .hasstars {
	margin: -5px 10px 0 5px;
	width: 148px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	background: url(../images/hth-goodslist/sprite1.png) no-repeat;
	background-position: -2px -152px;
}

.customerwrap .stars_point {
	font-size: 28px;
	color: #ffca11;
	overflow: hidden;
}

/* commentext */
.commentext ul {
	margin-left: 20px;
}

.commentext ul li {
	height: 176px;
	width: 100%;
	padding: 36px 0 30px 30px;
	/* height: auto; */
	font-size: 14px;
	color: #333;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

.commentext .headimg {
	width: 72px;
}

.commentext .imgbox {
	width: 72px;
	height: 72px;
	overflow: hidden;
	border-radius: 50%;
}

.commentext .imgbox img {
	display: block;
	width: 72px;
	height: 72px;
}

.commentext .qqnick {
	width: 100%;
	padding-top: 17px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.commentext .comment-text {
	margin: 0 0 0 40px;
	width: 1060px;
}

.commentext .comment-point {
	width: 100%;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	color: #888;
}

.commentext .pord-starbox {
	margin-left: 15px;
}

.commentext .all-point {
	font-size: 22px;
	color: #ffca11;
}


.commentext .hasstars {
	margin: -4px 6px 0 0;
	display: inline-block;
	vertical-align: middle;
	width: 111px;
	height: 18px;
	background: url(../images/hth-goodslist/sprite1.png) no-repeat;
}

.commentext .ownstars {
	background-position: 0 -104px;
}

.commentext .comment-time {
	color: #999;
}

.customerwrap .page {
	text-align: left;
	padding: 30px 0;
	height: 38px;
	font-size: 16px;
	position: relative;
}

.connectcul {
	width: 100%;
}

.connectwarp {
	margin: 0 0 24px 40px;
	/* line-height: 1; */
	font-size: 14px;
}
